
svg {
    background-color: #444;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-dasharray: 10,2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
}

circle.node.reflexive {
    stroke: #000 !important;
    stroke-width: 2.5px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;    
}

.navbar {
    margin-bottom: 0px;
}

.row {
    width: 1300px;
}

.popover-content {
    font-size: 14px;
}

#status {
    margin-bottom: 24px;
    text-align: left;
}

#jumbotron {
    height: 500px;
    padding: 0px;
}

#inputPre, #output {
    text-align:left;
    overflow-y: auto;
    white-space: nowrap;
}

#inputTextarea {
    width: 97%;
    height: 20em;
}

#inputButtons {
    width: 620px;
    margin-bottom: 10px;
}

#file {
    width: 488px;
    float:left; 
    font-size: 18px; 
    padding-top: 4px; 
    line-height:20px;
    display: none;
}

#inputModal .modal-content {
    width: 979px;
}

#saveButton {
    display: none;
}

/* RESPONSIVE CSS */

@media (max-width: 979px) {

}

@media (max-width: 767px) {

    #inputModal .modal-content {
        width: 100%;
    }

}


.RdYlGn .fw{fill:white}
/* ============================================================================
   This product includes color specifications and designs developed by 
   Cynthia Brewer (http://colorbrewer.org/).
   See ../COPYING for licensing details.
*/
.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
/* End of color specifications and designs developed by Cynthia Brewer 
   ==========================================================================*/